
node_modules
dist
*.log
.env
.git
.gitignore
README.md
.dockerignore
Dockerfile
Dockerfile.cypress
docker-compose.yml
docker-compose.cypress.yml
docker-compose.production.yml
docker/*
!docker/init-prod.sh
