# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.env.production

cypress/screenshots
cypress/videos
cypress/downloads

docs/local
docs/notes.md

nginx/includes/cors_map.conf
nginx/includes/cors_options.conf
nginx/includes/rate_limits.conf
nginx/includes/client_proxy.conf
nginx/includes/server_common.conf
