#root {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  width: 100%;
}

.widget-wrapper {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }

}

/* @media (min-width: 1000px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
} */

iframe {
  width: 100%;
}

img {
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

hr {
  margin-bottom: 1rem;
}
/* @media (prefers-reduced-motion: no-preference) { */